@model GaryKAuthProject.Models.MonsterRecipeEditVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MonsterRecipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="IngredientSelections" class="control-label"></label><br />
                @for (int ii = 0; ii < Model.IngredientSelections!.Count; ii++)
                {
                    string checkedValue = Model.IngredientSelections[ii].Selected ? "checked=\"checked\"" : "";

                    <input type="checkbox" name="@Model.IngredientSelections[ii].Id" @checkedValue />

                    @Model.IngredientSelections[ii].Name

                    <br />
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
